/* CSS Reset */

* {
    margin: 0;
    padding: 0;
}


/* CSS Variables */

:root {
    --navbar-height: 59px;
}


/* Navigation Bar */

#navbar {
    display: flex;
    align-items: center;
}


/* Navigation bar : LOGO an Image  */

#logo {
    margin: 10px 34px;
}

#logo img {
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar : List Styling */

#navbar {
    position: relative;
}

#navbar ul {
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li {
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}


/* Home Section  */

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url('./bg1.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 70%;
    width: 100%;
    z-index: -1;
    opacity: 0.99;
}

#home h1 {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Bree Serif', serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: 'Bree Serif', serif;
}


/* Services Section  */

.services-container h1 {
    margin-top: 15px;
}

#services {
    margin: 34px;
    display: flex;
}

#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background: #f2f2f2;
}

#services .box img {
    height: 150px;
    margin: auto;
    display: block;
}

#services .box p {
    font-family: 'Bree Serif', serif;
}


/* Client Section  */

#client-section {
    height: 344px;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 40px;
}

#clients img {
    height: 124px;
}

#client-section ::before {
    content: "";
    position: absolute;
}

footer {
    background: black;
    color: white;
    margin-bottom: 0px;
    font-size: 2.5rem;
    border-radius: 20px;
    font-family: 'Nerko One', cursive;
}


/* utility Classes */

.h-primary {
    font-size: 1.5rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.h-secondary {
    font-family: 'Bree Serif', serif;
    font-size: 2rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 0.9rem;
    border-radius: 10px;
    cursor: pointer;
}

.center {
    text-align: center;
}